.Container {
  width: 100%;
}

.Card {
  width: 100%;
  background-color: #FFF;
  border: 1px solid #D9E9EA;
  border-radius: 15px;
  display: flex;
  margin-bottom: 20px;

  .Image {
    padding: 30px;

    @media (max-width: 280px) {
      padding: 20px;
    }
    img {
      height: 130px;
      @media (max-width:410px) {
        height: 100px;
      }
      @media (max-width: 350px) {
        height: 60px;
      }
    }
  }

  .Info {
    padding: 30px 30px 30px 0px;

    @media (max-width: 420px) {
      padding: 10px;
    }

    @media (max-width: 360px) {
      padding: 10px;
    }
    .Title {
      margin-bottom: 15px;
      span {
        font-weight: 600;
        font-size: 30px;
        color: #0E4647;

        @media (max-width: 410px) {
          font-size: 20px;
        }
        @media (max-width: 350px) {
          font-size: 16px;
        }
      }
    }
    .Prices {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 500;
        color: #3A9699;

        @media (max-width: 410px) {
          font-size: 16px;
        }

        @media (max-width: 350px) {
          font-size: 12px;
        }
      }
    }
  }
}

.Content {
  width: 100%;
  .Switcher {
    display: flex;
    align-items: center;
    button {
      height: 38px;
      padding-inline: 30px;
      background-color: transparent;
      border-radius: 27.5px;
      color: #000;
      text-transform: capitalize;
      font-family: 'Poppins', sans-serif;
      margin-right: 10px;

      &.Active {
        background-color: #0E4647;
        color: #FFF;
      }
    }
  }

  .Description {
    span {
      font-size: 14px;
      color: #000;
    }

    ul {
      li {
        font-size: 14px;
        color: #000;

        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }

    .Details {
      display: flex;
      min-height: 20px;

      @media (max-width: 410px) {
        display: grid;
        grid-template-areas: 
          "grid-0 grid-1"
          "grid-2 grid-2";
      }
    }
  }

  .Info {
    width: 300px;
    span {
      font-size: 14px;
      color: #000;
      display: block;
    }
  }

  & > div {
    &:not(.Switcher) {
      display: none;
      margin-top: 30px;
      &.Active {
        display: block;
      }
    }
  }
}

.None {
  display: none;
}

