@import 'include-media';

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px) !default;

.Container {
  padding-block: 100px;
  padding-inline: 70px;
  @media (max-width: 1080px) {
    padding-block: 70px;
  }
  @media (max-width: 900px) {
    padding-inline: 40px;
    padding-block: 50px;
  }
  @media (max-width: 700px) {
    padding-block: 20px;
  }
  @media (max-width: 425px) {
    padding-left: 20px;
  }
}

.Liner {
  width: 100%;
  height: 140px;
  border-block: 1px solid #5ACACC;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  @media (max-width: 1080px) {
    height: 90px;
  }
  @media (max-width: 740px) {
    column-gap: 0px;
  }
  @media (max-width: 700px) {
    display: none;
  }
  // @media (max-width: 280px) {
  //   display: none;
  // }

  & > div {
    padding-inline: 20px;
    // width: 150px;
    align-items: center;
    display: flex;

    @media (max-width:425px) {
      padding-inline: 10px;
    }
    span {
      font-size: 1vw;
    }
  }

  img {
    margin-right: 20px;
    height: 73px;
    aspect-ratio: 1;
    @media (max-width: 1080px) {
      height: 40px;
    }
    @media (max-width: 850px) {
      height: 5vw;
    }
  }
}