.Container {
  width: 100%;
  height: 413px;
  background-color: #FBFBFB;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 25px;
  span {
    font-size: 16px;
    font-weight: 600;
    color: #0E4647;
  }
  a {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }
}

.Body {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  .Each {
    flex: 1;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-height: 70px;

    .Name {
      flex: 1;
      padding-inline: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      width: 100px;
      span {
        font-size: 14px;
        color: #000;
        font-weight: 500;
        @media (max-width: 1080px) {
          font-size: 12px;
        }
      }
    }

    .Prices {
      display: flex;
      flex-direction: column;
      width: 150px;
      @media (max-width: 1080px) {
        width: 100px;
      }
      span {
        font-size: 12px;
        color: #000;
        @media (max-width: 1080px) {
          font-size: 10px;
        }
      }
    }

    .Edit {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        img {
          height: 29px;
          aspect-ratio: 1;
        }
      }
    }
  }
}