.Container {
  width: 100vw;
  min-height: 100vh;
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
  display: flex;
}


.LogoAbsolute { 
  position: absolute;
  left: 20px;
  top: 20px;
  img {
    height: 5vw;
  }

  @media (max-width: 400px) {
    img {
      height: 50px;
    }
  }
}

.AnimWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackToHomeButton {
  position: absolute;
  transform: translateY(100px);
  left: 20vw;
  z-index: 2;
  background-color: #fefefe;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  user-select: none;
  font-size: 16px;
  cursor: pointer;

  @media (max-width: 1150px) {
    width: 150px;
    height: 40px;
    font-size: 14px;
    transform: translateY(60px);
  }

  @media (max-width: 850px) {
    width: 120px;
    height: 40px;
    font-size: 11px;
    transform: translateY(40px);
  }

  @media (max-width: 700px) {
    width: 80px;
    height: 30px;
    font-size: 8px;
    transform: translateY(40px);
  }

  @media (max-width: 430px) {
    width: 70px;
    height: 20px;
    font-size: 7px;
    transform: translateY(40px);
  }

  @media (max-width: 400px) {
    width: 200px;
    height: 50px;
    font-size: 14px;
    transform: translateY(0) translateX(-50%);
    left: 50%;
    bottom: 10vh;
  }
}